<!-- /** * Copyright (c) 1995-2017 Cybage Software Pvt. Ltd., India * http://www.cybage.com/pages/centers-of-excellence/ecommerce/ecommerce.aspx */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Cybage\CodExtracharge\Api\CashondeliveryInterface" type="Cybage\CodExtracharge\Model\Cashondelivery" />
    <preference for="Cybage\CodExtracharge\Api\CashondeliveryCartInterface" type="Cybage\CodExtracharge\Model\CashondeliveryCart" />
    <preference for="Cybage\CodExtracharge\Api\CashondeliveryTableInterface" type="Cybage\CodExtracharge\Model\CashondeliveryTable" />

    <virtualType name="Cybage\CodExtracharge\Model\ResourceModel\Pincodechecker\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
                <argument name="mainTable" xsi:type="string">cybage_pincodechecker</argument>
                <argument name="resourceModel" xsi:type="string">Cybage\CodExtracharge\Model\ResourceModel\Pincodechecker\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="pincodeChecker" type="Cybage\CodExtracharge\Plugin\PincodeChecker" sortOrder="1" disabled="false" />
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                    <item name="cyb_codextracharge_pincodechecker_grid_data_source" xsi:type="string">Cybage\CodExtracharge\Model\ResourceModel\Pincodechecker\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>